<template>
  <div>
    <h2>ประกาศ</h2>
    <b-embed
      type="iframe"
      aspect="21by9"
      src="https://www.youtube.com/embed/zb6Ql1iRgIM"
      allowfullscreen
    ></b-embed>
    <b-nav vertical class="w-70">
      <b-nav-item
        ><router-link to=""
          >ประกาศคณะวิทยาการสารสนเทศ เรื่อง การปฎิบัติงานสหกิจศึกษา
          คณะวิทยาการสารสนเทศ มหาวิทยาลัยบูรพา พ.ศ. ๒๕๕๘</router-link
        ></b-nav-item
      >
      <b-nav-item
        ><router-link to=""
          >ประกาศเงื่อนไขทางวิชาการการปฎิบัคิงานสหกิจศึกษา
          สาขาวิทยาการคอมพิวเตอร์ คณะวิทยาการสารสนเทศ มหาวิทยาลัยบูรพา พ.ศ.
          ๒๕๖๒</router-link
        ></b-nav-item
      >
    </b-nav>
  </div>
</template>
