<template>
  <div>
    <h3>สถานะการรับไปสหกิจ</h3>
    <b-table striped hover :items="status" :fields="fields"></b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      status: [
        { id: 1, statement: 'การสมัครสหกิจ', status: 'ผ่านคุณสมบัติ', detail: '' },
        { id: 2, statement: 'รายละเอียดเอกสารการสมัครสหกิจ', status: 'เอกสารครบถ้วน', detail: '' },
        { id: 3, statement: 'การสมัครกับสถานประกอบการ', status: 'ผ่านคุณสมบัติ', detail: 'วันสัมภาษณ์ : 01-01-2020  เวลา : 10.00 น.' },
        { id: 4, statement: 'การสอบสัมภาษณ์', status: 'ผ่านการสอบสัมภาษณ์', detail: '' },
        { id: 5, statement: 'การไปสหกิจ', status: 'ตำแหน่ง Tester บริษัท xxx', detail: '' },
        { id: 6, statement: 'การจบสหกิจ', status: 'กำลังฝึกสหกิจ', detail: '' }
      ],
      fields: [
        { key: 'id', label: 'ลำดับ' },
        { key: 'statement', label: 'รายการ' },
        { key: 'status', label: 'สถานะ' },
        { key: 'detail', label: 'รายละเอียด' }
      ]
    }
  }
}
</script>
